html,body,footer {
    margin: 0;
    padding: 0;
  }
  
  body {
    font-family: "Avenir Next";
  
  }
  header{
    padding:10px 20px;
    height: 30px;
    width: 100%;
    background-color: lightseagreen;
    position: fixed;
    top: 0;
    z-index: 10;
    margin-top: -20px;
    height: 65px;
    width: 100%;
    
    
  }
  menu{
    padding-left:10px;
    widows: 20px;
    margin: 21px 646px 21px 646px;
    margin-bottom: 30px;
  }
  
  
  li {
    
    list-style:none;
    float: left;
    padding: 20px 10px;
    font-size: 25px;
    margin-bottom:20px;
    margin-left:30px;
  
  }
  
  
  
  .header-logo {
    float: left;
    font-size: 35px;
    padding: 10px ;
    font-family: 'Lobster', cursive;
    margin-left:-15px;
    margin-top: 10px;
   
  }
  
    
    .btn:hover{
      background-color:lightblue;
    }
    
    .btn {
      padding: 10px 20px;
      color: white;
      display: inline-block;
      opacity: 0.8;
      border-radius: 4px;
      text-align: center;
      margin-top: 10px;
      color:black;
      font-family: 'Bebas Neue', cursive;
      font-size: 20px;
      
  
    }
  
      .main{
          background-image: url(uc2.jpg);
          background-size: cover;
          padding :250px 30px;
         
      }
      .footer {
        background-color: lightseagreen;
        color: #fff;
        height: 70px;
        padding-bottom:30px;
        width: 1170;
      }
      
      .footer-logo {
        float: left;
        font-size: 32px;
        font-family: 'Lobster', cursive;
        margin:20px 0px 0px 30px;
      }
      
      .footer-list {
        float: right;
        font-family: 'Bebas Neue', cursive;
        margin-right: 50px;
        
      }